@charset "UTF-8";

:root{
    --cor01:#BF1542;
    --cor02:#D91E63;
    --cor03:#F22987;
    --cor04:#d9259a82;
    --cor05:rgb(27, 80, 45);
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion one',cursive;
    --fonte3:'Sriracha',cursive;

}