@charset "UTF-8";

:root{
    --cor01:#BF1542;
    --cor02:#D91E63;
    --cor03:#F22987;
    --cor04:#d9259a82;
    --cor05:rgb(27, 80, 45);
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion one',cursive;
    --fonte3:'Sriracha',cursive;

}
*{
    
    margin: 0px;
    padding: 0px;
    max-width:;
    
}
body,html{
    min-height: 100vh;
}
header{
   
    background-color: var(--cor01);
    text-align: center;
    margin-bottom: 100px;
    padding-bottom: 10px;
    position: fixed;
    display: block;
}
header>h1{
    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: capitalize;
    font-size: 7vw;
    
}
    
    
}

section{
    padding-left: 10vh;
    margin-bottom: 10px;
    display: block;
    overflow: visible;
    visibility: visible;
    

    

}
section.foto{
    background-color: var(--cor04);
    background-position:left center;
    font-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 96vh;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
}
section.foto>p{
    color: white;
    
}
section.primeira{
    color:white;
    margin-left: 200px;
    display: block;
}
section>p{
    max-width: ;
    min-width: 100px;
    padding-bottom: 30px;
    vertical-align: center;
    display: block;
   
}
p{
    font-family: var(--fonte1);
    line-height: 2em;
    padding: 10px;
    font-size: 1.2em;
}
section#foto1{
    background-image: url(foto01.jpg);
    background-position: right bottom;
    text-align: left;
    ;
    vertical-align: top;
}
section#foto1 >p{
  
   
}
section#foto2{
    background-image: url(foto02.jpg);
    background-position: left bottom;
    text-align: right;
    vertical-align: top;
}
section#foto3{
    background-image: url(foto03.jpg);
    background-position: right bottom;
}

section#foto4{
    background-image: url(foto04.jpg);
    background-position: left bottom;
}
section#foto5{
    background-image: url(foto05.jpg);
    background-position: right bottom;
}